models/model_ep0
models/model_ep10
models/model_ep20
models/model_ep30
models/model_ep40
models/model_ep50
models/model_ep60
models/model_ep70
models/model_ep80
models/model_ep90
models/model_ep100
models/model_ep110
models/model_ep120
models/model_ep130
models/model_ep140
models/model_ep150
models/model_ep160
models/model_ep170
models/model_ep180
models/model_ep190
models/model_ep200
models/model_ep210
models/model_ep220
models/model_ep230
models/model_ep240
models/model_ep250
models/model_ep260
models/model_ep270
models/model_ep280
models/model_ep290
models/model_ep300
models/model_ep310
models/model_ep320
models/model_ep330
models/model_ep340
models/model_ep350
models/model_ep360
models/model_ep370
models/model_ep380
models/model_ep390
models/model_ep400
models/model_ep410
models/model_ep420
models/model_ep430
models/model_ep440
models/model_ep450
models/model_ep460
models/model_ep470
models/model_ep480
models/model_ep490
models/model_ep500
models/model_ep510
models/model_ep520
models/model_ep530
models/model_ep540
models/model_ep550
models/model_ep560
models/model_ep570
models/model_ep580
models/model_ep590
models/model_ep600
models/model_ep610
models/model_ep620
models/model_ep630
models/model_ep640
models/model_ep650
models/model_ep660
models/model_ep670
models/model_ep680
models/model_ep690
models/model_ep700
models/model_ep710
models/model_ep720
models/model_ep730
models/model_ep740
models/model_ep750
models/model_ep760
models/model_ep770
models/model_ep780
models/model_ep790
models/model_ep800
models/model_ep810
models/model_ep820
models/model_ep830
models/model_ep840
models/model_ep850
models/model_ep860
models/model_ep870
models/model_ep880
models/model_ep890
models/model_ep900
models/model_ep910
models/model_ep920
models/model_ep930
models/model_ep940
models/model_ep950
models/model_ep960
models/model_ep970
models/model_ep980
models/model_ep990
models/model_ep1000
__pycache__/functions.cpython-37.pyc
data/MGLU3/MGLU3.csv
data/MGLU3/MGLU32019.csv
data/MGLU3/MGLU320192.csv
data/PETR4/PETR4.csv
data/historico_bovespa/COTAHIST_A2001.TXT
data/historico_bovespa/COTAHIST_A2002.TXT
data/historico_bovespa/COTAHIST_A2003.TXT
data/historico_bovespa/COTAHIST_A2004.TXT
data/historico_bovespa/COTAHIST_A2005.TXT
data/historico_bovespa/COTAHIST_A2006.TXT
data/historico_bovespa/COTAHIST_A2007.TXT
data/historico_bovespa/COTAHIST_A2008.TXT
data/historico_bovespa/COTAHIST_A2009.TXT
data/historico_bovespa/COTAHIST_A2010.TXT
data/historico_bovespa/COTAHIST_A2011.TXT
data/historico_bovespa/COTAHIST_A2012.TXT
data/historico_bovespa/COTAHIST_A2013.TXT
data/historico_bovespa/COTAHIST_A2014.TXT
data/historico_bovespa/COTAHIST_A2015.TXT
data/historico_bovespa/COTAHIST_A2016.TXT
data/historico_bovespa/COTAHIST_A2017.TXT
data/historico_bovespa/COTAHIST_A2018.TXT
data/historico_bovespa/COTAHIST_A2019.TXT
data/historico_bovespa/COTAHIST.A2000.TXT
models/MGLU3/model_ep0
models/MGLU3/model_ep10
models/MGLU3/model_ep20
models/MGLU3/model_ep30
models/MGLU3/model_ep40
models/MGLU3/model_ep50
models/MGLU3/model_ep60
models/MGLU3/model_ep70
models/MGLU3/model_ep80
models/MGLU3/model_ep90
models/MGLU3/model_ep100
models/MGLU3/model_ep110
models/MGLU3/model_ep120
models/MGLU3/model_ep130
models/MGLU3/model_ep140
models/MGLU3/model_ep150
models/MGLU3/model_ep160
models/MGLU3/model_ep170
models/MGLU3/model_ep180
models/MGLU3/model_ep190
models/MGLU3/model_ep200
models/MGLU3/model_ep210
models/MGLU3/model_ep220
models/MGLU3/model_ep230
models/MGLU3/model_ep240
models/MGLU3/model_ep250
models/MGLU3/model_ep260
models/MGLU3/model_ep270
models/MGLU3/model_ep280
models/MGLU3/model_ep290
models/MGLU3/model_ep300
models/MGLU3/model_ep310
models/MGLU3/model_ep320
models/MGLU3/model_ep330
models/MGLU3/model_ep340
models/MGLU3/model_ep350
models/MGLU3/model_ep360
models/MGLU3/model_ep370
models/MGLU3/model_ep380
models/MGLU3/model_ep390
models/MGLU3/model_ep400
models/MGLU3/model_ep410
models/MGLU3/model_ep420
models/MGLU3/model_ep430
models/MGLU3/model_ep440
models/MGLU3/model_ep450
models/MGLU3/model_ep460
models/MGLU3/model_ep470
models/MGLU3/model_ep480
models/MGLU3/model_ep490
models/MGLU3/model_ep500
models/MGLU3/model_ep510
models/MGLU3/model_ep520
models/MGLU3/model_ep530
models/MGLU3/model_ep540
models/MGLU3/model_ep550
models/MGLU3/model_ep560
models/MGLU3/model_ep570
models/MGLU3/model_ep580
models/MGLU3/model_ep590
models/MGLU3/model_ep600
models/MGLU3/model_ep610
models/MGLU3/model_ep620
models/MGLU3/model_ep630
models/MGLU3/model_ep640
models/MGLU3/model_ep650
models/MGLU3/model_ep660
models/MGLU3/model_ep670
models/MGLU3/model_ep680
models/MGLU3/model_ep690
models/MGLU3/model_ep700
models/MGLU3/model_ep710
models/MGLU3/model_ep720
models/MGLU3/model_ep730
models/MGLU3/model_ep740
models/MGLU3/model_ep750
models/MGLU3/model_ep760
models/MGLU3/model_ep770
models/MGLU3/model_ep780
models/MGLU3/model_ep790
models/MGLU3/model_ep800
models/MGLU3/model_ep810
models/MGLU3/model_ep820
models/MGLU3/model_ep830
models/MGLU3/model_ep840
models/MGLU3/model_ep850
models/MGLU3/model_ep860
models/MGLU3/model_ep870
models/MGLU3/model_ep880
models/MGLU3/model_ep890
models/MGLU3/model_ep900
models/MGLU3/model_ep910
models/MGLU3/model_ep920
models/MGLU3/model_ep930
models/MGLU3/model_ep940
models/MGLU3/model_ep950
models/MGLU3/model_ep960
models/MGLU3/model_ep970
models/MGLU3/model_ep980
models/MGLU3/model_ep990
models/MGLU3/model_ep1000
agent/__pycache__/agent.cpython-37.pyc
models/model_ep1000_10
models/PETR4/model_ep0
models/PETR4/model_ep10
models/PETR4/model_ep20
models/PETR4/model_ep30
models/PETR4/model_ep40
models/PETR4/model_ep50
models/PETR4/model_ep60
models/PETR4/model_ep70
models/PETR4/model_ep80
models/PETR4/model_ep90
models/PETR4/model_ep100
models/PETR4/model_ep110
models/PETR4/model_ep120
models/PETR4/model_ep0
models/PETR4/model_ep10
models/PETR4/model_ep20
models/PETR4/model_ep30
models/PETR4/model_ep40
data/MGLU32019/MGLU32019.csv
__pycache__/agent.cpython-37.pyc
__pycache__/evaluate.cpython-37.pyc
__pycache__/train.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
data/PETR42019/PETR42019.csv
models/PETR4/model_ep0
models/PETR4/model_ep10
models/PETR4/model_ep20
models/PETR4/model_ep30
models/PETR4/model_ep40
data/MGLU32019/MGLU32019.csv
